@model PaddleSport.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourtFk.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourtFk.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loc.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loc.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
