@model IEnumerable<PaddleSport.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourtFk.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loc.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfPlayers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourtFk.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loc.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfPlayers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
